button.headerProfileButtonContent {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px var(--box-shadow);
  border-radius: 12px;
  gap: 0.5rem;
  height: 100%;
  width: 220px;

  &:hover {
    box-shadow: 1px 1px 0 var(--box-shadow);
  }

  .headerProfileButtonData {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .headerProfileAvatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .headerProfileName {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;

    font-weight: 500;
  }

  .headerProfileEmail {
    font-size: 0.75rem;
  }
}

.profileMenuPopupContent:has(.profileMenuItem) {
  border-radius: 12px;
}

.profileMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 220px;
}
